//Truth CYR
@font-face {
  font-family: "Akzidenz-Grotesk Pro";
  src: url(../fonts/akzidenzgroteskpro_regular.woff),
    url(../fonts/akzidenzgroteskpro_regular.woff2);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Akzidenz-Grotesk Pro";
  src: url(../fonts/akzidenzgroteskpro_md.woff),
    url(../fonts/akzidenzgroteskpro_md.woff2);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Akzidenz-Grotesk Pro";
  src: url(../fonts/akzidenzgroteskpro_bold.woff),
    url(../fonts/akzidenzgroteskpro_bold.woff2);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}