* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 400;
  font-size: 16px;
  color: #77787a;
  color: $text-color;
  background: #f3f3f6;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1430px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.d-none{
  display: none;
}
