$pink: #FF8981;
$pink-hover: #FF574B;
$blue: #1ce2e6;
$blue-hover: #07b8bb;
$text-color: #282C34;

%title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
%ba{
  position: absolute;
  content: "";
}