.header {
  padding: 15px 0 30px;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__top-left {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 200px;
    height: 70px;
    display: inline-block;
    background-image: url(../img/svg/telecom-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 23px;
  }
  .logo {
    width: 100%;
  }
  .city-wrapper {
    position: relative;
  }
  &__city-btn {
    padding-left: 16px;
    height: auto;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    opacity: 0.5;
    &::before {
      position: absolute;
      width: 17px;
      height: 17px;
      content: "";
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../img/svg/location.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .city__popup {
    position: absolute;
    padding: 20px;
    background: #ffffff;
    top: calc(100% + 14px);
    left: -34px;
    border-radius: 2px;
    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      z-index: 0;
      left: 33px;
      top: -6px;
      background: #fff;
      transform: rotate(45deg);
    }
    &-btn {
      color: $text-color;
    }
    .city__question {
      color: $text-color;
      font-size: 14px;
      margin-bottom: 12px;
    }
    .city__popup-close-btn {
      position: absolute;
      cursor: pointer;
    }
    .city__popup-btns {
      display: flex;
      gap: 10px;
    }
    .city__correctly-btn {
      padding: 9px 18px;
      border: 1px solid $pink;
      display: block;
      border-radius: 100px;
      color: $text-color;
      transition: 0.3s;
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        background: $pink;
        color: #fff;
      }
    }
    .city__select-btn {
      white-space: nowrap;
      cursor: pointer;
      transition: .3s;
      &:hover{
        color: $pink;
      }
    }
  }
  &__top-right {
    display: flex;
    align-items: center;
    gap: 27px;
    font-size: 18px;
  }
  &__phone {
    font-size: 20px;
    font-weight: 700;
    color: $text-color;
  }
  .login-btn {
    padding: 9px 18px;
    border: 1px solid $pink;
    display: block;
    border-radius: 100px;
    color: $text-color;
    transition: 0.3s;
    &:hover {
      background: $pink;
      color: #fff;
    }
  }
  .cart__btn {
    display: block;
    width: 80px;
    height: 42px;
    background: $pink;
    background-image: url(../img/svg/basket.svg);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background: #ff574b;
      background-image: url(../img/svg/basket.svg);
      background-repeat: no-repeat;
      background-size: 35%;
      background-position: center;
    }
  }
}
